{# episode.jinja #}
{%- macro download_line(file, base_url, date) -%}
[Download {{ file }}]({{ base_url }}{{ date|replace('-', '/') }}/{{ file }})
{%- endmacro -%}
public:: true
date-created:: [[{{ date_created }}]]
type:: [[Podcast/Episode]]

- # {{ episode_title }} - {{ episode_date }}
	- ![{{ audio_file }}](../assets/Ceremony/{{ episode_date|replace('-', '/') }}/{{ audio_file }})
- ## Description
	- {{ description }}
{%- if patch_files or midi_files %}
- ## Files
{%- if patch_files %}
	- [[Microfreak/Patch]] files
{%- for patch in patch_files %}
		- {{ download_line(patch, assets_base_url, episode_date) }}
{%- endfor %}
{%- endif %}
{%- if midi_files %}
	- [[Microfreak/MIDI]] files
{%- for midi in midi_files %}
		- {{ download_line(midi, assets_base_url, episode_date) }}
{%- endfor %}
{%- endif %}
{%- endif %}
