{# episode.jinja #}
public:: {{ public | lower }}
date-created:: [[{{ date_created }}]]
type:: [[{{ type }}]]

- # {{ episode_title }} {{ episode_date }}
    - ![{{ audio_file }}](../assets/Ceremony/{{ episode_date|replace('-', '/') }}/{{ audio_file }})
- ## Description
    - {{ description }}
- ## Files
    - [[Microfreak/Patch]] files
{% for patch in patches %}
        - [Download {{ patch }}]({{ assets_base_url }}{{ episode_date|replace('-', '/') }}/{{ patch }})
{% endfor %}
    - [[Microfreak/MIDI]] files
{% for midi in midi_files %}
        - [Download {{ midi }}]({{ assets_base_url }}{{ episode_date|replace('-', '/') }}/{{ midi }})
{% endfor %}
